* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg-color: #4694dc;
    --text-color: #fff;
    --text-dr-color:#111;
    --text-gray: #9CA3AF;
}


.header {
    background-color: var(--bg-color);
    min-height: 500px;
    padding-top:82px;
    padding-bottom:82px;
    color: var(--text-color);

    .header__container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 156px;

        .header__title {
            font-size: 56px;
            font-weight: 600;
            margin-bottom: 38px;
        }

        .header__desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            max-width: 437px;
            margin-bottom: 45px;
        }
        .header__btn {
            width: 194px;
            height: 60px;
            color: var(--text-dr-color);
            background-color: var(--text-color);
            font-size: 16px;
            font-weight: 400;
            border: none;
        }
    }
    @media (max-width: 768px) {
        .header__container {
            padding: 0 15px;
        }
    }
    @media (max-width: 400px) {
        .header__title {
            font-size: 36px;
        }
    }
}

.services {

    .services__container {

        .container__block {
            text-align: center;
            margin-bottom: 50px;

            .block__title{
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 3.3px;
                margin-bottom: 15px;
            }

            .block__desc {
                font-size: 16px;
                letter-spacing: 2px;
                line-height: 24px;
                font-weight: 400;
                color: var(--text-gray);
                max-width: 465px;
                margin: 0 auto;
            }
        }
    }
}
git remote add origin https://github.com/Flish122/Figma-Project.git